# Direnv allows
/direnv/allow

# Fish
fish/fishd.*

# Htop: config file is rewritten by htop when settings are changed in the interface,
# parser is also very primitive, and not human-friendly.
/htop

# Yarn
/yarn/global
/yarn/link

# GitHub Copilot
/github-copilot

# Heroku
/heroku

# iTerm
/iterm2

# Firebase
/firebase

# Flipper
/flipper

# Autodesk
/Autodesk

# ParaView
/ParaView

# 3D Scanning Tools
/RevoStudio
/ChiShine3D

# X-Plane
/StairportSceneries

# Other
/configstore
/exercism
/fontforge
/gdrive3
/gcloud
/.mono
